* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

.container {
display: grid;
   grid-template-columns: 256px 1fr;
  /* align-items: center; */
}

main {
  width: 960px;
  padding: 2rem;
  background-color: #f6f7f7;
}
